/* css styling */
:root {
    --warriors-blue: #1D428A;
    --warriors-gold: #FFC72C;
    --main-font: 'Roboto', sans-serif;
    --bg-light: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font, Arial);
    background-color: var(--bg-light);
    font-size: 12pt;
    border-left: 0.1in solid transparent;
}

h1, h2, h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

header {
    background-color: rgb(29, 66, 138);
    color: hsl(45, 100%, 58%);
    padding: 2em;
}

footer {
    color: color(display-p3 1 0.5 0);
    background-color: color-mix(in srgb, var(--warriors-blue), white 20%);
    color: orange;
    padding-top: 5vh;
}

#attendance {
    margin: 20px auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border-style: solid;
    border-color: var(--warriors-blue);
    border-width: 2px;
    border-radius: 10px;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 20px;

    border: 1px solid #ddd;

    max-width: 1000px;
    min-width: 32px;
    width: 90%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: sticky;
    top: 0;
    background: white;
}

#players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    list-style: none;
    position: relative;
}

.hidden-notes {
    display: none;
}

#media img {
    display: block;
    height: auto;
}

section p { color: #333; }
ul > li {font-weight: bold; }
h2 ~ p { font-style: italic; }
h2 + div {margin-top: 0; }

input[type="text"].user input { border: 1px solid blue; }
button:hover { background-color: var(--warriors-gold); }
button:active { transform: scale(0.95); }

section:has(form) {background-color: #eee; }

form {
    fieldset {
        border: 2px solid var(--warriors-blue);
        legend {font-weight: bold; }
    }
}

@media (max-width: 600px) {
    #players {
        grid-template-columns: 1fr;
    }
}
/* End of css styling */
